<div class="row">
    <div class="col">
        <div class="mb-3">
            <label for="txtUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="txtUsername" placeholder="<%= accountInfo.username %>" disabled>
        </div>
        <div class="mb-3">
            <label for="txtFullName" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="txtFullName" placeholder="<%= accountInfo.name %>" disabled>
        </div>
        <div class="mb-3">
            <label for="txtEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="txtEmail" placeholder="<%= accountInfo.email %>" disabled>
        </div>
        <div class="mb-3">
            <label for="Gender" class="form-label">Gender</label>
            <select class="form-select" aria-label="Default select example" id = "Gender" disabled>
                <option value="0" 
                <% 
                        if (accountInfo.gender === 0) {
                %> 
                            selected
                <% } %>
                >Male</option>
                <option value="1"
                <% 
                        if (accountInfo.gender === 1) {
                %> 
                            selected
                <% } %>
                >Female</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="dayOfBirthday" class="form-label">Day of Birthday</label>
            <input type="datetime" class="form-control" id="dayOfBirthday" placeholder="<%= accountInfo.dateofbirth %>" disabled>
        </div>
    </div>
    <div class="col avatar-comp">
       
       <% 
            let avatar = "/img/avatars/default-avatar.png";
            if (accountInfo.avatar != null && accountInfo.avatar != "") avatar = accountInfo.avatar;
            const avatarcomp = `<img crossorigin="anonymous" src = "${avatar}" class="rounded mx-auto d-block avatar-view" alt = "Hình nền đại diện">`
        %>
        <%- avatarcomp %>
    </div>
    <div class = "flex">
        <%
            let btnBlockStatus = `<button  value="${accountInfo.username}" class="btn btn-secondary btnChangeLockStatus lock" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Chặn tài khoản">
            <i class="align-middle" data-feather="lock"></i>
                Chặn tài khoản
            </button>`
            if (!accountInfo.status) {
                btnBlockStatus = `<button value="${accountInfo.username}" class="btn btn-secondary btnChangeLockStatus unlock" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Bỏ chặn tài khoản">
                <i class="align-middle" data-feather="unlock"></i>
                Bỏ chặn tài khoản
            </button>`
            }
        %>
        
        <%- btnBlockStatus %>
        <button value="<%= accountInfo.username %>" value = "2" class="btn btn-danger btnDeleteAccount" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Xóa tài khoản"><i class="align-middle" data-feather="trash-2"></i> Xóa tài khoản</button>
        </div>
</div>
<br>
<a id="btnBack" href="#" style="color: green;"><i class="align-middle" data-feather="arrow-left"></i> Trở lại </a>
<script>
$("#btnBack").click(function(){
    history.back();
});
</script>
<script src="/js/pages/accounts.page.js"></script>
